*{
  font-family: "inter",sans-serif;
}
.logo img{
  height: 25px;
  width:  144px;
  padding: 36px 26px;

}
.Navbar{
  display: flex;
  /* justify-content: space-between; */
  background-color: #FFF7ED;
  height: 60px;

.styled{
  text-decoration: underline;
  font-weight: 700;
  color: #000000;
}
links.a.styled{
  text-decoration: underline;
  font-weight: 700;
  color: #000000;
}
  
}
.Navbar a{
  text-decoration: none;  
}
.links{
  padding: 35px 15px;
  height: 23px;

  margin-left: auto;
}
.links a{
 margin-right: 10px;
 color: #4D4D4D;
}
.links .active{
  margin-right: 5px;
  color: #000000;
  text-decoration: underline;
 }
.links a:hover{
  text-decoration: underline;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}
/*home*/
.Home--content{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),url("./components/images/homeBG.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  color: white;
  margin-top: 20px;




}
.Home--content >h1{
  padding: 85px 24px;
  line-height: 42px;
  font-weight: 700;

  height: 23px;
}
.Home--content p{
 

 margin-top: 0;
  line-height: 24px;
  padding: 1px 24px;
  /* border: 1px pink solid; */
  height: 100px;
  

}
.Home--content a{

  display: block; 
  height: 30px;
  background-color: #FF8C38;
  color: #FFF7ED;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  
  margin:20px  ;
  padding:5px;


}
.Footer{
  height: 74px;
  background-color: #252525;
  color:#AAAAAA;
 text-align: center;
 padding:10px 40px ;
 margin-top: 150px;

}
.About--content img{
  margin-top: 10px ;
  width: 100%;

}
.About--content h1{
 padding: 20px 26px;
 /* width: 500px; */
 font-weight: bold;
 font-size:  32px; ;

}
.About--content p{
  padding: 0px 23px;
  /* width: 500px; */
  font-weight: 600;
 }
 .About--explore{
  /* width: 400px; */
  height: 178px;
  background-color:#FFCC8D ;
  border-radius:5px ;
  padding: 20px 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: small;
  margin-bottom: 30px;
 }
 .About--explore a{
  background-color: #161616;
  text-decoration: none;
  color: #FFF7ED;
  display: block;
  width: 170px;
  height: 19px;
  border-radius: 5px;
  text-align: center;
  font-size: large;
  font-weight: 700;
  padding: 18px 12px;
 }
 .van-content h1{
  height: 10px;
  padding: 20px 26px;

 }
.filters{
  padding: 20px;
  /* border: #000000 solid 1px; */

}
.filters a{
  text-decoration: none;
  margin: 10px;
  color: #ffffff;
  font-weight: 700;
  background-color: #b9b8b7;
  border-radius: 5px;
  padding: 5px;
}
 .vans-list{
  /* border: 1px rgb(0, 0, 0) solid; */


  padding: 1px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding:10px 0px;
 }
 .vans-list a{
  text-decoration: none;
  color: #161616;
 }
 .van-item{

  padding: 20px 15px;
  /* border: 1px slateblue solid; */
  height: 200px;
  /* width: 220px; */
  margin-top: 30px;
  
  margin-bottom: 60px;


 
 }
 .van-item img{
  height: 170px;

  border-radius: 5px;
 }
 .van-details{

  display: flex;
  padding: 10px 1px;
  justify-content: space-around;
  
  

 }

 .van-details p{
  /* background-color:#E17654 ;
  color: #FFEAD0; */
  padding: 10px 27px;
  
  text-align: center;
  border-radius: 5px;
  /* width: 45px; */
  color: white;
 }
.van-pricing span{
  font-weight: 400;
}
.van-type.simple {
  background-color:#E17654;
}
.van-type.luxury {
  background-color: #161616;
}
.van-type.rugged {
  background-color:#115E59;
}

.van.simple.selected{
  background-color: #E17654;
}
.van.luxury.selected{
  background-color: #000000;
}
.van.rugged.selected{
  background-color: #115E59;
}
.van.simple:hover{
  background-color: #E17654;
}
.van.luxury:hover{
  background-color: #000000;
}
.van.rugged:hover{
  background-color: #115E59;
}
/* description/ */
.van-desc{
  margin-top: 30px;
  padding: 40px;
}
.back{
  text-decoration: underline;
  color: #161616;
  margin-bottom: 10px;

}
.van-desc img{
  height: 559px;

  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
}
.van-desc p{
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;

  color: white;
}
.description p{
  color: #000000;
  padding: 20px 0px;
  font-size: 15px;

}
.rent-button{
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FF8C38;
  font-weight: 600;

  border-radius: 5px;
  display: block;
  padding: 10px 20px;
  text-align: center;
}
.host-nav{
  padding-top: 40px;
  padding-left: 20px;
}
.host-nav a{
  text-decoration: none;
  margin-right: 10px;
  color: #4D4D4D

}
.host-nav a:active{
  color: #161616;
  text-decoration: underline;
}
/*Host Dashboard*/
.Dashboard-welcome{
  background-color: #FFEAD0;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Dashboard-child1{
  padding: 20px 20px;
}
.Dashboard-child1 span{
  text-decoration: underline;
}
.Dashboard-child2{
  padding: 20px 20px;height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFDDB2;

}
.details1{
  margin-left: 40px;

}
.details{
  margin-right: 20px;
  cursor: pointer;
}
.host-vanslist{
  display: grid;
  grid-template-columns: auto 75px;
  grid-template-areas: 'my my';
  margin-left: 20px;

}
.host-vanslist >p{

  font-weight:bolder;

}
.child{
  grid-area: 'my';
  margin: 10px;
  border: #000000 1px solid;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  grid-column-gap: 1px;

  
}
.child img{
  height: 70px;
  width: 70px;
}
/* hostvan list  */
.hostVanList{
  /* border: #000000 solid 1px; */
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  padding: 10px 40px;
  gap: 40px;
  margin-bottom: 10px;

}
.hostVanList img{
  height: 80px;
  width: 80px;
  border-radius:5px ;
  
}
.HvanLink{
  text-decoration: none;
  color: #000000;
}
.Hvans{
  padding: 20px 20px;
}
.Hvans h1{
  padding: 0px 20px;
}
.HvanDetails{
 background-color: #FFFFFF;
 border-radius: 5px;
 display: flex;
 padding: 30px 30px;
 gap:30px;
 margin-top: 40px;
}
.HvanDetails img{
  border-radius: 5px; 
  height: 160px;
  width: 160px;
}
.HvanDetails p{
  color: #FFFFFF;
  width: 60px;
  padding: 10px 10px;
  border-radius: 5px;
}
.HvanDesc-container{
  padding: 20px;
}
.hostVanDetails a{
  text-decoration: none;
  color: #161616;
  margin-right: 20px;
}
.hostVanDetails a:hover{
  text-decoration: underline;

  
}
.hostVanDetails a:active{
  text-decoration: underline;
  
}
/* page not found */
.Not-Found{
  padding: 60px;

}
.Not-Found h1{
  background-color: #ffffff;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
}
.Not-Found a{
  display: block;
  text-decoration: none;
  background-color: #000000;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  padding: 5px;
}
/* login page */
.Login{
  padding: 80px;
}
.Login h2{
  padding: 10px 30px;
}
.Login input{
  /* background-color: #115E59; */
  display: block;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;
  border: gray solid 1px;
}
.Login button{
  display: block;
  width: 320px;
   padding: 15px; 
   background-color: #FF8C38;
   color: #FFFFFF;
   font-weight: 600;
   border: none;
   border-radius: 5px;
   margin-top: 20px;
  
}
.Login span{
  font-weight: 700;
  color: #FF8C38;
}
.red{
  color: red;
  padding-left: 90px;
}
.loader{
  padding: 40px;
  width: 300px;
}
